.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 2px solid rgb(94, 9, 9);
    border-radius: 12px;
    margin: 5px auto;
    width: 70%;
    padding: 0 10px;
}

.list span {
    font-weight: 600;
    color: orangered;
    font-size: 20px;
}