.header-container{
        background-color: rgb(110, 7, 7);
        padding: 2px 200px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    color: white;
}

.header-cart{
    background-color:  rgb(32, 1, 1);
    padding: 15px 30px;
    border-radius: 60px;
    color: white;

}

.cart-count{
    background-color: rgb(110, 7, 7);
    border-radius: 60px;
    padding: 5px 10px;
    margin-left: 10px;
}